* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial;
  color: var(--ink);
  background: var(--panel);
  text-rendering: optimizeLegibility;
}

/* Links */
a {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
