@layer tokens, base, background, layout, components, utilities;

@import './tokens.css' layer(tokens);
@import './base.css' layer(base);
@import './background.css' layer(background);
@import './layout.css' layer(layout);

@import './components/header.css' layer(components);
@import './components/hero.css' layer(components);
@import './components/buttons.css' layer(components);
@import './components/cards.css' layer(components);
@import './components/agenda.css' layer(components);
@import './components/partners.css' layer(components);

@import './utilities.css' layer(utilities);
